
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href= "{% static 'css/style.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<title>Reset your password success message</title>
</head>
<body>
	<div class="container" id="container">
			<form action=" " method="post" style="background-image:url('{% static 'media/background_signup.jpg' %}');">
                {% csrf_token %}

                {% for message in messages %}
            <div class="alert alert-{{message.tags}} alert-dismissible fade show " role="alert">
                <strong>Message: </strong>{{message}}
            </div>
            {%endfor%}

				<h3>Forgotten your password?</h3>
				<p style="color:rgb(92, 19, 19)"><i>We've emailed you instructions for resetting your password.</i></p> <br>
                <p><i>If you ddn't receive an email, please make sure you've entered correct email aaddress registered with us and/or try again.</i><p>

            <p><a href='\'><button type="button" value="Home"> Take me to home Page</button></a></p>
			</form>
	</div>
</body>
</html>


{% endblock %}

